<<<<<<< HEAD
=======

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

>>>>>>> 163202d484a721089a7dc1871764d5940c36c3d5
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
body{
    background-color: red;
}

.container{
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    background-color: black;
}

h4{
    color: white;
}

p{
    color: white;
}

.item{
    border: 2px solid white;
}

.container2{
    display: flex;
    flex-direction: column,row;
    background-color: black;
}

.container3{
    display: flex;
    flex-direction: column,row;
    background-color: black;
}

h1{
    text-align: center;
=======
header{
    width: 100vw;
    height: 15vh;
    background-color: red;

}


h1{
    font-family: "Roboto", serif;
>>>>>>> 163202d484a721089a7dc1871764d5940c36c3d5
    color: white;
    text-align: center;
}

input{
<<<<<<< HEAD
    margin-left: 30vw;
    width: 30vw;
    height: 2vw;
    border-radius: 12px;
}

button{
    border-radius: 12px;
    color: white;
    height: 2vw;
    width: 4vw;
}

h5{
    color: red;
}

footer{
    color: white;
    text-align: center;
    height: 3vw;
    margin-top: 1vw;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    margin-top: 10px;
    width: 4vw;
    height: 3vw;
}

label{
    text-align: center;
}
=======
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-left: 500px;
    margin-top: 5px;

    
}

button{
    width: 65px;
    padding: 4px;
    border: none;
    border-radius: 10px;
    color: red;
    
}

>>>>>>> 163202d484a721089a7dc1871764d5940c36c3d5
